@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The Flying Saucer</h1>
    <p>Breakfast out of this World!</p>

    <h2> Entrees </h2>
    <div class="menu-item">
        Flying Saucer <br />
        $8.50 <br />
        919 <br />
    </div>

    <h2> Sides </h2>

    <h2> Drinks </h2>
</div>
