html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: black;
}

.text-center {
    color: white;
}

.header {
    font: Trattatello, fantasy ;
}

.privacyPage {
    color: white;
}

.aboutPage {
    color: white;
}

.menu-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.nav_item {
    align-content: 
}

.Entrees {
    list-style-type: none;
    color: white;
    border: 1px solid green;
}

.Sides {
    list-style-type: none;
    color: white;
    border: 1px solid green;
}

.Drinks {
    list-style-type: none;
    color: white;
    border: 1px solid green;
}

